<div id="introduction">
    <h3>开发者简介</h3>

    <div>
        <img src="/images/me.jpg"/>
    </div>
    <div>
        <ul>
            <li>吴 祥</li>
            <li>毕业于华中科技大学</li>
            <li>目前就职于思特沃克软件技术（西安）有限公司</li>
            <li>邮箱：xiangwu@thoughtworks.com</li>
        </ul>
    </div>
    <h3 style="clear: both">Chatty</h3>

    <p>
        Chatty是一个支持多人在线视频的Web应用，它旨在为用户提供流畅、多功能的视频通信。Chatty支持以下特性：
    </p>
    <ul>
        <li><b>群视频会话</b></li>
        <li><b>给房间设置密码</b></li>
        <li><b>共享屏幕</b></li>
        <li><b>邀请好友视频</b></li>
    </ul>
</div>