<li class="menu_right"><a href="#" class="drop no_click_event">设置</a>

    <div class="dropdown_1column align_right">
        <div class="col_1">
            <ul>
                <li><a href="#" id="menu_mute">静音</a></li>
                <li><a href="#" id="menu_pause">暂停</a></li>
                <li><a href="#" id="menu_set_password">设置密码</a></li>
                <li><a href="#" id="menu_quit_video">退出视频</a></li>
            </ul>
        </div>
    </div>
</li>
<script src="/javascripts/anonymous-user-menu.js"></script>