<div class="jumbotron">
    <div class="icon-panel"><img src="/images/chat-icon.gif" alt="Chatty icon image"/></div>
    <div class="form-panel">
        <form class="room-form" action="/joinRoom" method="get" onsubmit="return validateRoom();">
            <input type="text" id="roomName" name="roomName" placeholder="请输入房间名" autofocus="autofocus"/>
            <span class="submit_span"><input type="submit" value="Let's chat" id="room_submit"/></span>
        </form>
    </div>
</div>

<div class="row marketing">
    <h3 class="description">Chatty是一个支持多人在线视频的Web应用，它旨在为用户提供流畅、多功能的视频通信。</h3>

    <div class="col-lg-6">
        <h4>群视频会话</h4>

        <p>能添加多个用户到同一个视频房间进行多人视频</p>

        <h4>共享屏幕</h4>

        <p>能共享自己的屏幕给同一个视频房间内的所有用户</p>
    </div>

    <div class="col-lg-6">
        <h4>给房间设置密码</h4>

        <p>视频房间的主人能给房间设置密码，以防止其他人加入房间</p>

        <h4>邀请好友视频</h4>

        <p>注册的用户能添加好友和邀请好友视频</p>
    </div>
</div>