<li class="menu_right notification_message"><a href="#" id="menu_notification_message">消息<span id="notification_size">0</span></a></li>
<li class="menu_right site-nav-pipe">|</li>
<li class="menu_right"><a href="#" class="drop no_click_event" id="my_friends">我的好友</a>
    <div class="dropdown align_right">
        <div class="col_1">
            <ul id="my_friends_list">

            </ul>
        </div>
    </div>
</li>
<li class="menu_right"><a href="#" class="drop no_click_event"><%= username %></a>
    <div class="dropdown align_right">
        <div class="col_1">
            <ul>
                <li><a href="#" id="menu_mute">静音</a></li>
                <li><a href="#" id="menu_pause">暂停</a></li>
                <li><a href="#" id="menu_set_password">设置密码</a></li>
                <li><a href="#" id="menu_share_screen">共享屏幕</a></li>
                <li><a href="#" id="menu_add_friend">添加好友</a></li>
                <li><a href="#" id="menu_quit_video">退出视频</a></li>
            </ul>
        </div>
    </div>
</li>
<script src="/javascripts/non-anonymous-user-menu.js"></script>
